.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body,
.radio {
  background-color: #ffffff;
}

.radio {
  -webkit-appearance: none;
  margin: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  padding: 7px;
  box-shadow: hsla(0, 0%, 100%, .5) 0 1px 1px,
    inset rgba(165, 122, 122, .5) 0 0 0 1px;
  background-image:
  -webkit-radial-gradient(#00ffc9 0%,
  #1abaf2 15%,
  #4890ab 28%,
  #9000 70%);
  background-repeat: no-repeat;
  transition-property: background-position, transform;
  transition-duration: .15s, .25s;
  transition-timing-function: cubic-bezier(.8, 0, 1, 1);
}

.radio,
.radio:active {
  background-position: 35px 0;
  outline: none;
}

.radio:checked {
  background-position: 0 0;
  transition-property: background-position, transform;
  transition-duration: .2s, .25s;
  transition-delay: .15s, 0s;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
}

.radio:active {
  transform: scale(1.5);
  transition: transform .1s cubic-bezier(0, 0, .2, 1);
}

.radio:checked~.radio,
.radio:checked~.radio:active {
  background-position: -35px 0;
}

/*Checkboxes styles*/
input[type="checkbox"] { 
  opacity: 0;
  z-index: 999;
  cursor: pointer;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #215f55;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



